ios/App/*
node_modules
deploy.sh

# Ignore files build by xcode
*.mode*v*
*.pbxuser                                                                                                                                                                                                                                                                                                                  *.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/
